<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <link href="https://fonts.googleapis.com/css?family=Exo+2:400,300,200" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />

        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div id="allContent"></div>
        <script type="text/javascript">
            // This is the script that renders each page of the website
            window.__pageInit.ReactDOM.render( // This block of text is actually the parameters for the function
                window.__pageInit.React.createElement(
                    window.__pageInit.Page,
                    null
                ),
                document.getElementById("allContent")
              );
        </script>
    </body>

</html>
