<!DOCTYPE html>

<html>

    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

        <title>MorParts - <%= page %></title>
        <link href="https://fonts.googleapis.com/css?family=Exo+2:400,300,200" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />

        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>

    <body style="background-color: #E9E9E9;">

        <script type="text/javascript">
            window.__options = <%- JSON.stringify(options || null) %>;
        </script>

        <script src="/js/vendor.js"></script>
        <script src="/js/<%= page %>.js"></script>

        <div id="allContent"></div>
        <script type="text/javascript">
            // defines __pageInit global variable
            window.__pageInit.ReactDOM.render(
                window.__pageInit.React.createElement(
                    window.__pageInit.Page,
                    null
                ),
                document.getElementById("allContent")
            );
        </script>
    </body>

</html>
